body {
    font-family: Arial, sans-serif;
    background: url('background.png') center/cover no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

h1 {
    color: #ffffff;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(46, 242, 11, 0.7);
}

input {
    margin: 20px 0;
    padding: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    margin-top: 20px;
    text-decoration: none;
}

#progressBar {
    width: 50%;
    height: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

#progress {
    height: 40%;
    background-color: #4caf50;
    border-radius: 10px;
    width: 0;
}
